In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/minkun/Desktop/BigCloud/assignment1/data/1st.csv')
df1.head()

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
Id                       50000 non-null int64
PostTypeId               50000 non-null int64
AcceptedAnswerId         42335 non-null float64
ParentId                 0 non-null float64
CreationDate             50000 non-null object
DeletionDate             0 non-null float64
Score                    50000 non-null int64
ViewCount                50000 non-null int64
Body                     50000 non-null object
OwnerUserId              48549 non-null float64
OwnerDisplayName         6035 non-null object
LastEditorUserId         42141 non-null float64
LastEditorDisplayName    3580 non-null object
LastEditDate             42576 non-null object
LastActivityDate         50000 non-null object
Title                    50000 non-null object
Tags                     50000 non-null object
AnswerCount              50000 non-null int64
CommentCount             50000 non-null int64
FavoriteCount            49758 non-null float64
ClosedDate               4571 non-null object
CommunityOwnedDate       579 non-null object
dtypes: float64(6), int64(6), object(10)
memory usage: 8.4+ MB

In [6]:
df1.PostTypeId.value_counts()

1    50000
Name: PostTypeId, dtype: int64

In [10]:
df1.Body.head()

0    <p>I accidentally committed the wrong files to...
1    <p>I want to delete a branch both locally and ...
2    <p>How can I convert a <code>String</code> to ...
3    <p>I have an array of Numbers, and I'm using t...
4    <p>How can I redirect the user from one page t...
Name: Body, dtype: object

In [17]:
df1.Body[0] #df1.Body[1]

'<p>I accidentally committed the wrong files to <a href="https://en.wikipedia.org/wiki/Git_software" rel="noreferrer">Git</a>, but I haven\'t pushed the commit to the server yet.</p>\n\n<p><strong>How can I undo those commits from the local repository?</strong> </p>\n'

In [18]:
df1.Body[1]

'<p>I want to delete a branch both locally and on my remote project fork on <a href="http://en.wikipedia.org/wiki/GitHub" rel="noreferrer">GitHub</a>.</p>\n\n<h3>Failed Attempts to Delete Remote Branch</h3>\n\n<pre><code>$ git branch -d remotes/origin/bugfix\nerror: branch \'remotes/origin/bugfix\' not found.\n\n$ git branch -d origin/bugfix\nerror: branch \'origin/bugfix\' not found.\n\n$ git branch -rd origin/bugfix\nDeleted remote branch origin/bugfix (was 2a14ef7).\n\n$ git push\nEverything up-to-date\n\n$ git pull\nFrom github.com:gituser/gitproject\n* [new branch] bugfix -&gt; origin/bugfix\nAlready up-to-date.\n</code></pre>\n\n<p>What do I need to do differently to successfully delete the\n<code>remotes/origin/bugfix</code> branch both locally and on GitHub?</p>\n'

In [11]:
df1.Tags.head()

0    <git><git-bash><git-commit><git-reset><git-rev...
1                        <git><git-branch><git-remote>
2                 <java><string><int><type-conversion>
3                                 <javascript><arrays>
4                       <javascript><jquery><redirect>
Name: Tags, dtype: object

In [19]:
df1.Tags[0]

'<git><git-bash><git-commit><git-reset><git-revert>'

In [20]:
df1.Tags[1]

'<git><git-branch><git-remote>'

In [29]:
type(df1.Tags[0])

str

In [36]:
df1[df1['Body'].str.contains("hadoop")==True].head(2)

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,OwnerUserId,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
5558,19943766,1,19993403.0,NaN,2013-11-13 01:53:24,NaN,233,350803,<p>I'm currently configuring hadoop on a serve...,768439.0,...,NaN,2015-09-20 13:14:58,2018-04-16 12:09:55,"Hadoop ""Unable to load native-hadoop library f...",<java><linux><hadoop><hadoop2><nativelibrary>,20,2,103.0,NaN,NaN
13614,29704333,1,29705881.0,NaN,2015-04-17 16:10:21,NaN,96,208600,<p>I would like to read a CSV in spark and con...,2411173.0,...,NaN,2018-07-24 14:00:35,2019-02-14 07:01:32,Spark - load CSV file as DataFrame?,<scala><apache-spark><hadoop><apache-spark-sql...,9,1,48.0,NaN,NaN

In [37]:
df1[df1['Tags'].str.contains("hadoop")==True].head(2)

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,OwnerUserId,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
5558,19943766,1,19993403.0,NaN,2013-11-13 01:53:24,NaN,233,350803,<p>I'm currently configuring hadoop on a serve...,768439.0,...,NaN,2015-09-20 13:14:58,2018-04-16 12:09:55,"Hadoop ""Unable to load native-hadoop library f...",<java><linux><hadoop><hadoop2><nativelibrary>,20,2,103.0,NaN,NaN
13105,17837871,1,17838068.0,NaN,2013-07-24 15:03:27,NaN,106,213501,<p>How to copy file from HDFS to the local fil...,2499617.0,...,NaN,2015-04-21 11:50:46,2018-03-06 22:32:11,How to copy file from HDFS to the local file s...,<hadoop><copy><hdfs>,6,0,33.0,NaN,NaN

In [38]:
df1.drop(['Body'], axis=1, inplace=True)

In [40]:
df2 = pd.read_csv('/home/minkun/Desktop/BigCloud/assignment1/data/2nd.csv')
df3 = pd.read_csv('/home/minkun/Desktop/BigCloud/assignment1/data/3rd.csv')
df4 = pd.read_csv('/home/minkun/Desktop/BigCloud/assignment1/data/4th.csv')
df5 = pd.read_csv('/home/minkun/Desktop/BigCloud/assignment1/data/extra50.csv')

In [41]:
df2.drop(['Body'], axis=1, inplace=True)
df3.drop(['Body'], axis=1, inplace=True)
df4.drop(['Body'], axis=1, inplace=True)
df5.drop(['Body'], axis=1, inplace=True)

In [45]:
df_fine = df1.append(df2)

In [46]:
df_fine = df_fine.append(df3)

In [47]:
df_fine = df_fine.append(df4)

In [48]:
df_fine = df_fine.append(df5)

In [65]:
df_fine.reset_index(drop=True, inplace=True)

In [66]:
df_fine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200050 entries, 0 to 200049
Data columns (total 21 columns):
Id                       200050 non-null int64
PostTypeId               200050 non-null int64
AcceptedAnswerId         164823 non-null float64
ParentId                 0 non-null float64
CreationDate             200050 non-null object
DeletionDate             0 non-null float64
Score                    200050 non-null int64
ViewCount                200050 non-null int64
OwnerUserId              195070 non-null float64
OwnerDisplayName         16860 non-null object
LastEditorUserId         149856 non-null float64
LastEditorDisplayName    9737 non-null object
LastEditDate             151552 non-null object
LastActivityDate         200050 non-null object
Title                    200050 non-null object
Tags                     200050 non-null object
AnswerCount              200050 non-null int64
CommentCount             200050 non-null int64
FavoriteCount            191268 non-null float64
ClosedDate               15900 non-null object
CommunityOwnedDate       1172 non-null object
dtypes: float64(6), int64(6), object(9)
memory usage: 32.1+ MB

In [67]:
sum(df_fine.duplicated())

15

In [71]:
df_fine.Id.nunique()

200035

In [69]:
df_fine[df_fine.duplicated()==True].head(3)

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
50000,9647561,1,9648264.0,NaN,2012-03-10 15:22:05,NaN,34,87000,219167.0,NaN,...,NaN,2015-08-25 04:07:03,2017-11-15 18:57:14,How to connect to MongoDB in Windows?,<windows><mongodb>,10,5,10.0,NaN,NaN
50001,36985112,1,36987506.0,NaN,2016-05-02 14:38:22,NaN,49,87000,2410379.0,NaN,...,NaN,2016-05-03 15:45:46,2018-07-19 09:16:26,"Angular2, what is the correct way to disable a...",<html><dom><typescript><angular><angular2-temp...,7,0,7.0,NaN,NaN
50002,57484,1,57526.0,NaN,2008-09-11 20:04:17,NaN,75,87000,1310.0,ScArcher2,...,ScArcher2,2008-09-11 20:10:16,2017-03-21 23:30:10,"How do you ""OR"" criteria together when using a...",<java><hibernate>,6,0,28.0,NaN,NaN

In [74]:
df_fine.drop_duplicates(inplace=True)

In [75]:
df_fine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200035 entries, 0 to 200049
Data columns (total 21 columns):
Id                       200035 non-null int64
PostTypeId               200035 non-null int64
AcceptedAnswerId         164813 non-null float64
ParentId                 0 non-null float64
CreationDate             200035 non-null object
DeletionDate             0 non-null float64
Score                    200035 non-null int64
ViewCount                200035 non-null int64
OwnerUserId              195055 non-null float64
OwnerDisplayName         16858 non-null object
LastEditorUserId         149845 non-null float64
LastEditorDisplayName    9736 non-null object
LastEditDate             151541 non-null object
LastActivityDate         200035 non-null object
Title                    200035 non-null object
Tags                     200035 non-null object
AnswerCount              200035 non-null int64
CommentCount             200035 non-null int64
FavoriteCount            191253 non-null float64
ClosedDate               15899 non-null object
CommunityOwnedDate       1172 non-null object
dtypes: float64(6), int64(6), object(9)
memory usage: 33.6+ MB

In [76]:
df_fine.reset_index(drop=True, inplace=True)

In [79]:
df_fine.to_csv('/home/minkun/Desktop/BigCloud/assignment1/data/final_data.csv')